<section class="mb-16">
    <div class="bg-white border-4 border-black rounded-lg p-8 md:p-12 hard-shadow dark:bg-neutral-900 dark:border-neutral-700">
        <h2 class="text-4xl md:text-7xl font-extrabold uppercase mb-4">Creative.</h2>
        <h2 class="text-4xl md:text-7xl font-extrabold uppercase mb-4">Digital.</h2>
        <h2 class="text-4xl md:text-7xl font-extrabold uppercase mb-8">Robust.</h2>
        <p class="text-lg md:text-xl max-w-2xl">
            We are
            <span class="font-mono bg-black text-white px-1 dark:bg-white dark:text-black">Everbuild</span>,
            a collective of independent software engineers based in Germany. We specialize in building cutting-edge
            game modifications and open-source software.
        </p>
    </div>
</section>