---
import TextPage from "../layouts/TextPage.astro";
import LangContentDe from "../layouts/textpage/LangContentDe.astro";
import LangContentEn from "../layouts/textpage/LangContentEn.astro";
---
<TextPage>
    <LangContentEn>
        <h1>Imprint</h1>
        <p>Details according to § 5 TMG</p>
        <p> Nico Weber <br>
            Fallerweg 7<br>
            54516 Wittlich <br>
        </p>
        <p><strong>Represented by: </strong><br>
            Nico Weber<br>
        </p>
        <p><strong>Contact:</strong> <br>
            Phone: 0176-82488742<br>
            E-Mail: <a href='mailto:nico.weber01@everbuild.org'>nico.weber01@everbuild.org</a><br/>
        </p>
        <p><strong>Responsible for the content according to § 55 Abs. 2 RStV:</strong><br>
            Nico Weber <br>
            Fallerweg 7<br>
            54516 Wittlich <br></p>
        <p><strong>Disclaimer: </strong><br><br><strong>Liability for content</strong><br><br>
            The content of our website has been created with the utmost care. However, we cannot guarantee the
            accuracy, completeness
            completeness and topicality of the contents. As a service provider we are liable according to
            § 7 Abs.1 TMG for own contents on these pages according to the general laws. According to §§
            8 to 10 TMG, however, we are not obliged as a service provider to monitor transmitted or stored
            information or to investigate circumstances that indicate illegal activity.
            illegal activity. Obligations to remove or block the use of information in accordance with general
            general laws remain unaffected by this. However, liability in this respect is only possible from the
            time of knowledge of a specific infringement. As soon as we become aware of such
            we will remove this content immediately.<br><br><strong>Liability for links
                Links</strong><br><br>
            Our website contains links to external third-party websites over whose content we have no influence.
            Therefore, we cannot accept any liability for this third-party content. For the contents of the
            The respective provider or operator of the pages is always responsible for the content of the linked
            pages. The
            linked pages were checked for possible legal violations at the time of linking.
            Illegal content was not recognizable at the time of linking. A permanent content-related
            content of the linked pages is not reasonable without concrete evidence of an infringement.
            reasonable. If we become aware of any legal infringements, we will remove such links immediately.
            remove such links immediately.<br><br><strong>Copyright</strong><br><br>
            The content and works created by the site operators on these pages are subject to German copyright
            law.
            copyright law. The duplication, processing, distribution and any kind of utilization outside the
            The reproduction, editing, distribution and any kind of utilization outside the limits of copyright
            law require the written consent of the respective author or creator.
            Downloads and copies of this site are only permitted for private, non-commercial use.
            Insofar as the content on this site was not created by the operator, the copyrights of third parties
            are
            third parties are respected. In particular, third-party content is identified as such. Should you
            nevertheless
            nevertheless become aware of a copyright infringement, please notify us accordingly. If
            If we become aware of any infringements, we will remove such content immediately.
            remove such content immediately.<br><br><strong>Privacy</strong><br><br>
            The use of our website is generally possible without providing personal data. Insofar as
            personal data (e.g. name, address or e-mail addresses) are collected on our pages, this is always
            are collected, this is always done, as far as possible, on a voluntary basis. This data will not be
            not passed on to third parties without your express consent. <br>
            We would like to point out that data transmission over the Internet (e.g. when communicating by
            e-mail)
            can have security gaps. Complete protection of data against access by third parties is not possible.
            is not possible. <br>
            The use of contact data published in the context of the imprint obligation by third parties for the
            sending of unsolicited advertising and information material is hereby expressly prohibited.
            expressly contradicted. The operators of this website expressly reserve the right to take legal
            action
            in the event of the unsolicited sending of advertising information, such as spam emails.<br>
        <p><strong>Social media and other online presences</strong></p>
        <p>This legal notice also applies to the following social media presences and online profiles:</p>
        <p><a href="https://github.com/everbuild-org" target="_blank">https://github.com/everbuild-org</a></p>
        <p><a href="https://www.youtube.com/@everbuild_org"
              target="_blank">https://www.youtube.com/@everbuild_org</a></p>
        <p><a href="https://www.instagram.com/everbuild_org/"
              target="_blank">https://www.instagram.com/everbuild_org/</a>
        </p>
        <p><a href="https://www.tiktok.com/@everbuild_org"
              target="_blank">https://www.tiktok.com/@everbuild_org</a>
        </p>
        <p><a href="https://asorda.net/" target="_blank">https://asorda.net/</a></p>
        <br>
    </LangContentEn>
    <LangContentDe>
        <div class='impressum'><h1>Impressum</h1>
            <p>Angaben gemäß § 5 TMG</p>
            <p> Nico Weber <br>
                Fallerweg 7<br>
                54516 Wittlich <br>
            </p>
            <p><strong>Vertreten durch: </strong><br>
                Nico Weber<br>
            </p>
            <p><strong>Kontakt:</strong> <br>
                Telefon: 0176-82488742<br>
                E-Mail: <a href='mailto:nico.weber01@everbuild.org'>nico.weber01@everbuild.org</a><br/>
            </p>
            <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
                Nico Weber <br>
                Fallerweg 7<br>
                54516 Wittlich <br></p>
            <p><strong>Haftungsausschluss: </strong><br><br><strong>Haftung für Inhalte</strong><br><br>
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                Vollständigkeit
                und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir
                gemäß
                § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
                Nach §§
                8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte
                fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
                Tätigkeit
                hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
                allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
                Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
                entsprechenden
                Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br><br><strong>Haftung für
                    Links</strong><br><br>
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss
                haben.
                Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
                verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
                verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
                Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                inhaltliche
                Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht
                zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
                entfernen.<br><br><strong>Urheberrecht</strong><br><br>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                deutschen
                Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb
                der
                Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
                Erstellers.
                Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
                Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie
                trotzdem
                auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
                Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
                entfernen.<br><br><strong>Datenschutz</strong><br><br>
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit
                auf
                unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben
                werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre
                ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
                Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht möglich. <br>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur
                Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
                ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte
                im
                Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
            <p><strong>Social Media und andere Onlinepräsenzen</strong></p>
            <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile: </p>
            <p><a href="https://github.com/everbuild-org" target="_blank">https://github.com/everbuild-org</a></p>
            <p><a href="https://www.youtube.com/@everbuild_org"
                  target="_blank">https://www.youtube.com/@everbuild_org</a></p>
            <p><a href="https://www.instagram.com/everbuild_org/" target="_blank">https://www.instagram.com/everbuild_org/</a>
            </p>
            <p><a href="https://www.tiktok.com/@everbuild_org"
                  target="_blank">https://www.tiktok.com/@everbuild_org</a>
            </p>
            <p><a href="https://asorda.net/" target="_blank">https://asorda.net/</a></p>
            <br>
        </div>
    </LangContentDe>
</TextPage>