<header class="border-b-4 border-black p-4 bg-white sticky top-0 z-10 dark:bg-neutral-900 dark:border-neutral-700">
    <div class="w-container mx-auto flex justify-between items-center">
        <a href="/#top" class="text-2xl font-extrabold uppercase">Everbuild</a>
        <nav class="hidden md:block">
            <a href="/#projects" class="font-bold text-lg p-2 hover:bg-lime-500 dark:text-neutral-200 dark:hover:text-black">Projects</a>
            <a href="/#about" class="font-bold text-lg p-2 hover:bg-lime-500 dark:text-neutral-200 dark:hover:text-black">About</a>
            <a href="/#contact" class="font-bold text-lg p-2 hover:bg-lime-500 dark:text-neutral-200 dark:hover:text-black">Contact</a>
        </nav>
    </div>
</header>
