<div class="border-b-4 border-black dark:border-lime-500 bg-lime-500 text-black p-4 marquee-wrapper">
    <div class="animate-marquee">
        {new Array(8).fill(0).map(() =>
                <span class="text-2xl font-bold uppercase">Building cutting-edge tech //</span>
                <span class="text-2xl font-bold uppercase">Asorda.net //</span>
                <span class="text-2xl font-bold uppercase">Noted //</span>
                <span class="text-2xl font-bold uppercase">Blocks and stuff //</span>
                <span class="text-2xl font-bold uppercase">Open Source //</span>
        )}
    </div>
</div>